.page {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0 3rem;
    padding: 3rem 1.5rem 4rem;
}

@media (max-width: 480px) {
    .page {
        padding: 2rem 1rem 3rem;
    }
}
