.searchBar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.searchLabel {
    font-weight: bold;
}

.input {
    height: 3rem;
    padding: 0 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.input:focus {
    outline: 0.125rem solid #666;
    border-color: #666;
}
